.container {
    max-width: 400px;
    margin: auto;
    border: solid rgb(212, 205, 205) 1px;
    border-radius: 4px;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 0 2px rgb(207, 203, 203);
  }

  .header {
    font-style: oblique;
  }

  .input {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 30px;
  }

  .btn {
    display: block;
    margin: auto;
    color: white;
    background-color: tomato;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
  }
